

h1, h2 {
  font-family: 'Pacifico', cursive;
}
h1 {
  text-align: center;
  color: blueviolet;
  font-size: 60px;
}
h2 {
  text-align: center;
  color: rgb(42, 111, 154)
}
body {
  font-family: 'PT Sans Narrow', sans-serif;
}
.circle {
  list-style: circle;
}


a {
  text-decoration: none;
}
